
/* use i wysiwyg editor to view site content
—————————————————————————————————————————————————— */
body { 
	font-size: 90%;
	font-family: "Verdana","Arial","Helvetica","sans-serif";
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; margin: 0; }
h1 { padding-top: 10px; padding-bottom: 0px; font-size: 2.95em; }
h2 { padding-top: 8px; padding-bottom: 0px; font-size: 2.14em;	}
h3 { padding-top: 8px; padding-bottom: 0px; font-size: 1.6em; }
h4 { padding-top: 8px; padding-bottom: 0px; font-size: 1.24em; font-weight: bold;}
h5 { padding-top: 2px; padding-bottom: 0px; font-size: 1em; font-weight: bold; }
h6 { padding-top: 1px; padding-bottom: 0px; font-size: 0.83em; font-weight: bold; }


a:link, a:visited { text-decoration: none; color: #0000FF; font-weight : normal; }
a:hover { color: #0000FF; text-decoration: underline; }
a.story:link, a.story:visited { text-decoration: none; color: #000; font-weight : normal; }
a.story:hover { text-decoration: underline; }

.faq-question { font-family: Georgia; font-size: 1.4em; color:#4F531E;padding: 8px 0 2px 0;}
.faq-answer { color:#4F531E;margin-left:10px; padding: 10px;text-indent:10px;font-style:italic; text-align:justify;border-right: 1px dotted #4F531E;border-bottom: 1px dotted #4F531E;}
.horizont-line {background:url(images/horizontical-line-shadow.png) no-repeat center left !important;padding:10px 0; }
.read-more { color: #003399 !important; padding: 0 4px 0 8px !important;font-weight:bolder !important; background:url(images/plus.png) no-repeat center left !important;}
.highlight-word {background:#ffff33;}
.box-elevated { box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); margin:10px; padding:10px;border:1px solid grey;}
.box-shadowed { box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); margin:10px; padding:10px;border:1px solid grey;}
.text-bigger { font-size: 1.4em; }
.text-smaller { font-size: 0.8em; }
.quote-emphasize { font-family: Georgia, Garamond, Times, serif; letter-spacing:0.1em; text-align:center; margin: 10% 10%; line-height: 120%; font-size: 1.7em; }
.small-caps { font-variant: small-caps; }
.p-columns-2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; } 
.p-columns-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; } 
.dropcap:first-letter { float: left; font-size: 5em; font-weight: normal; font-family: Georgia, Garamond, Times, serif; line-height: .8em; margin-right: 5px; padding: 2px; }

textarea.code { background: #f9f9f9; font-family: Consolas,monospace; font-size:12px; padding:4px; }
input.code, select.code, select.code option, ul.code, span.code { font-family: Consolas,monospace !important; font-size:1em !important; }
