/* START front-end default styles
use a theme to override settings
------------------------- 
-------------------------
------------------------- */

/* layout -> typography
/* position: top: left: float: width: height: margin: padding: display: border: font: color: background  

/* body & page
------------------------- */

hml, body { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; letter-spacing: 0.02em; } 

div#page404 {margin:0 auto; width:200px;height:200px;padding:20px;border:3px solid red; border-radius: 100px; text-align: center;}


/* wrappers
------------------------- */
#wrapper-user { width: 100%; height: 40px; position: fixed; top: 0; left: 0; z-index: 999; color: white; background-color: black; }
#wrapper-site-header { width: 100%; position: relative }
body {margin-top:50px;}
#wrapper-page { width: 1366px; min-height: 100px; margin: 0 auto; padding: 20px; background-color: rgb(255, 255, 255); box-shadow: 10px 0 10px -10px  rgba(0, 0, 0, 0.2), -10px 0 10px -10px  rgba(0, 0, 0, 0.2); border-left:1px solid black; border-right:1px solid black}
#wrapper-top {width: 1366px;margin: 0 auto}
#wrapper-bottom {width: 1366px;margin: 0 auto}
#wrapper-left-sidebar {height: 100%; padding: 0 20px 0 0}
#wrapper-right-sidebar { height: 100%; padding: 0 0 0 20px}
#wrapper-content { height: 100%; padding: 0 20px 0 0; border-left: 0px solid black; border-right: 1px solid black; }
#wrapper-user:after, #wrapper-site-header:after, #wrapper-page:after, #wrapper-top:after, #wrapper-bottom:after, article, .clear:after {
    content: "";
    clear: both;
    display: table
}


/* site heading
------------------------- */
#site-header { width: 100%; height: 360px; overflow: hidden }
#site-header img { width: 100%; height: auto }
#site-header-alt-caption {  }
a#site-name-link h1 {display: none}
a#site-name-link img {width: 400px; height: auto; margin-left:250px;}
#site-navigation-header { position: absolute; top: 50px; right: 277px;  }
#site-navigation-header ul { margin: 0 auto; padding: 0; list-style: none }
#site-navigation-header ul li { float: left; margin: 0 0 0 10px; border-right:1px solid black;}
#site-navigation-header ul li:hover { background-color: lightblue }
#site-navigation-header ul li a {display: block; padding: 0 20px; font-size: 1em; color:black; text-decoration: none }
div#site-navigation-cms {position: absolute; top:0;right:277px}


#site-name { margin: 0 0 0 277px; }

#site-search { position: absolute; top: 25px; margin: 0 0 0 277px;  padding: 10px;  }
#site-search input {}
#site-search button { padding: 5px; font-size: 1em }
#site-search label {position: absolute; left:20px; top:20px; font-size:1.4em}
#site-search span img {position: absolute; right:90px; top:25px; font-size:1.4em}
#site-search-page { margin: 20px 0; padding: 10px; position: relative; background-color:#e0e0e0}
#site-search-page input[type=text] {width:400px; padding: 15px 15px 15px 40px; font-size: 1em}
#site-search-page input[type=checkbox] {margin-left:20px; transform: scale(1.5)}
#site-search-page button { background-color: yellowgreen; padding: 15px; font-size: 1em }
#site-search-page label {position: absolute; left:20px; top:20px; font-size:1.4em}
#site-search-page span img {position: absolute; left:430px; top:25px; font-size:1.4em}
a.search h3 {color:navy; padding-bottom:0}
a.search + p {margin:0.8em 0 1.5em 0}
.search-word {background-color: #006400}

/* content
------------------------- */
div#content-top {  }
div#content-breadcrumb {  }
div#content-links {  }
div#content-title {  }
div#content-title h1 {  }
div#content-meta { font-size:0.8em;padding:5px 0 }
div#content-html { }
div#content-author { text-align:right;font-style:italic; }
div#content-social-networking { padding:2px;border:1px dashed #FFF;}

/* */ 
h1,h2,h3,h4,h5,h6 {  margin: 0.9em 0 0.3em 0; padding-bottom: 0; font-weight: 600;}
h1 { padding-top: 16px; font-size: 2.67em;}
h2 { padding-top: 12px; font-size: 2em;	}
h3 { padding-top: 8px; font-size: 1.5em; }
h4 { padding-top: 6px; font-size: 1.17em; }
h5 { padding-top: 2px; font-size: 1em }
h6 { padding-top: 1px; font-size: 0.83em }


a:link, a:visited { text-decoration: none; color: #0000FF; font-weight : normal; }
a:link, a:visited { text-decoration: none; color: #0000FF; font-weight : normal; }
a:hover { color: #000000; text-decoration: underline; }
a.story:link, a.story:visited { text-decoration: none; color: #000; font-weight : normal; }
a.story:hover { text-decoration: underline; }
.btn-link{ border:none; outline:none; background:none; cursor:pointer; color:#0000EE; padding:0; text-decoration:underline; font-family:inherit; font-size:inherit; }

p+p { text-indent: 1.5em }
p { line-height: 1.5em; margin: 0}
header h1 {margin:0}


/* grid */
div.grid-cell {float:left;width:32%; /*display: flex; flex-direction: column;*/ margin-right:2%; margin-bottom:20px; border: 1px solid black; background-color:rgb(230,230,230); text-align: left;font-size:initial;/*min-height:200px;*/position: relative; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)}
div.grid-cell:nth-child(3n) {margin-right: 0;}
div.grid-cell h2,  div.grid-content, div.grid-cell div.story, div.grid-dynamic {margin:10px;flex: 0 1 auto;}
div.grid-link { padding:10px; margin:8px; flex: 0 1 auto; }


/* grid custom class */
div.grid-cell.blue div.grid-link {border-bottom:3px solid blue} 
div.grid-cell.green div.grid-link {border-top:2px solid green} 
div.grid-cell.green  {background-color: white;} 
div.grid-cell.red {background-color: red} 
div.grid-link {text-align: center;}






/* Media queries based on viewport meta tag width=device-width,initial-scale=1.0
______________________________________________________________________________ */

/* Mobiles menu 320-768px */

@media (min-width: 320px) and (max-width: 768px) {
	
	/* mobile menu */
	div#site-navigation-mobile-wrapper {position: absolute; top:0; left:0; width:100%;background-color: black;z-index: 999}
	nav#site-navigation-mobile { display:none;}
	.menu-button .touch-button .navicon { font-size: 24px; top: 14px; color: #fff; }
	.mobile-buttons, .menu-button {line-height: 1em} 
	.mobile-menu-icon {margin:5px 10px}
	ul.nav-tree { margin:0 !important; padding:0;}
	ul.nav-tree li{ margin: 0; padding:0 !important;}
	.menu-button {background: #000; color: #fff !important;padding: 0;position: static;}
	.touch-button { font-weight: bold !important;}
	.flexnav li a { background: #fff;}
	.flexnav .touch-button { background: rgba(0,0,0,0) !important; }
	.flexnav li ul li a { background: rgb(245,245,245);}
	.flexnav ul li ul li a { background: rgb(235,235,235);}
	.flexnav ul li ul li ul li a { background: rgb(225,225,225);}
	.flexnav ul li ul li ul li ul li a { background: rgb(215,215,215);}
	.flexnav ul li ul li ul li ul li ul li a { background: rgb(205,205,205);}
	.flexnav .touch-button .navicon { top: 1em; }

	img#site-login-icon, img#search-site-icon {opacity: 0.7}

	 
	
	h1 { padding-top: 12px; font-size: 2em;	}
	h2 { padding-top: 8px; font-size: 1.5em; }
	h3 { padding-top: 6px; font-size: 1.17em; }
	h4 { padding-top: 2px; font-size: 1em }
	h5 { padding-top: 1px; font-size: 0.83em }
	h6 { padding-top: 1px; font-size: 0.7em }
	
}

/* Mobiles common portait / landscape orientation from 320-567px
|-------------------------------------------|
|                 header                    |
|-------------------------------------------|
|                 topnav                    |
|-------------------------------------------|
|                 sidebar                   |
|-------------------------------------------|
|                 content                   |
|-------------------------------------------|
|                 sidebar                   |
|-------------------------------------------|
|                 footer                    |
|-------------------------------------------|
*/
@media (min-width: 320px) and (max-width: 567px) {

	header#wrapper-site-header { width:100% }
	div#site-navigation-identity {}
	div#site-name {display:none}
	div#site-navigation-identity img {width:90%; margin:20px 10px 0 10px}
	div#site-slogan-heading {}
	div#site-navigation-cms { right:0; display: none}
	div#site-header {width:100%; height:90px;}
	div#site-header-alt-caption {}
	nav#site-navigation-header { position: inherit; top:inherit;right: inherit}
	div#site-navigation-root {display: none}
	ul#navigation-root {}
	ul#navigation-root li { border:0}
	ul#navigation-root li.node-open {}
	ul#navigation-root li a { border-bottom:1px solid black; border-right:1px solid black; padding:10px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)}
	ul#navigation-root li:hover {background-color: #e5e5e5}

	div#wrapper-top {width:100%}
	div#site-search-page { margin:5px 0;}
	div#site-search-page label {}
	div#site-search-page input[type="text"] {width:50%;}
	div#site-search-page input[type="checkbox"] {display: none}
	span#search-page-limit-tree-helper {display: none}
	div#pages_search_result {padding:10px}

	div#wrapper-page {width:100%}
	header h1 {margin:0}
	div#wrapper-content {width:100% !important; padding:0; border: 0}
	div#content-breadcrumb {}
	div#content-title {}
	div#content-html {}
	div#content-author {margin:20px 0}


	div#wrapper-left-sidebar, div#wrapper-right-sidebar {width:100% !important; padding:0; border: 0}

	nav#nav-site-navigation-vertical {display: none}
	ul.nav-tree {}
	ul.nav-tree li {}

	

	div#wrapper-bottom {width:100%}
	footer#wrapper-site-footer {}
	div#site-about {}
	div#site-contact {}
	div#site-rss {}

	
	div#content-top-selections {}

	div#top-grid {}
	div#content-top-grid {}
	div#content-bottom-grid {}

	div.grid-cell {float:left;width:100%; /*display: flex; flex-direction: column;*/ margin-right:0; margin-bottom:20px; border: 1px solid black; background-color:rgb(230,230,230); text-align: left;font-size:initial;/*min-height:200px;*/position: relative; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)}


}

@media (min-width: 481px) and (max-width: 482px) {
	div.grid-cell {float:left;width:48%; /*display: flex; flex-direction: column;*/ margin-right:4%; margin-bottom:20px; border: 1px solid black; background-color:rgb(230,230,230); text-align: left;font-size:initial;/*min-height:200px;*/position: relative; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)}
	div.grid-cell:nth-child(2n) {margin-right: 0;}

}

@media (min-width: 318px) and (max-width: 319px) {



	
	div#site-id {}
	div#site-navigation-top1 {}
	div#site-navigation-root { width:100%; display: none;}
	div#wrapper-main {width: 100%;float:none;}
	div#wrapper-left-sidebar { float:left;width:100% !important;padding:0px;margin:0 3px 0 3px;}
	div#wrapper-right-sidebar { float:left;width:100% !important;padding:0px;margin:0 3px 0 3px;padding-top:10px;}
	div#wrapper-content { padding:0px;float:left;width:100% !important;margin:0 3px 30px 3px;padding-top:10px;}
	div#footer-wrapper {width: 100%;float:left;}
	div#wrapper-selections-outside { width:0px;margin:0 0 0 30px;float:left;overflow:hidden;}
	div#wrapper-ads-outside-trigger { width:0px;margin:12px 0 0 30px;float:left;overflow:hidden;}	
	div#wrapper-ads-site { width:100%;margin:0px;}	
	div#site-feed { display: none !important;}
	div#site-heading { }
	div#footer-wrapper  div { float: inherit !important;}
	

	div.stories-column {float:left;width:100% !important;}
	div.stories-wrapper:after  {content: ""; display: table; clear: both;}
	div.stories-content img {float:left; width:33%; margin:0 20px 0 0;}
	
	ul#navigation-root { width: 100%; padding:0; margin:0; list-style: none;}
	ul#navigation-root a { display: block; color: #fff; text-decoration: none; font-size:1em; padding: 5px;}
	
	div.login_form table {width:100%;margin:0 20px;}
	
	div.login_form th, div.login_form td { 
		display: block; 
		padding:5px;
	}	



	/* masonry */
	.item { width:100% !important; overflow:hidden;}
	.item h5 { margin:5px 10px 0 10px; padding:0; font-size:110%;}
	.item p {margin: 10px;}	
	
	/* Widgets */
	div.gallery_listed_container { display: -webkit-flex;-webkit-flex-wrap: wrap; display: flex; flex-wrap: wrap; }
	div.gallery_listed { padding:10px; float:left; }
	div.gallery_listed img { width:100%; height:auto;}

}



/* START back-end styles
changing these can be ... an adventure ....
------------------------- 
-------------------------
------------------------- */

article, aside, footer, header, nav, section { display: block }
aside#content-bottom-widgets { clear: both }

/* overall div box-sizing 
------------------------- */
div { box-sizing:border-box; -moz-box-sizing:border-box; }


/* avoid flickers (body centered) when scrollbar appears in FF and Safari
------------------------- */
html { overflow-y:scroll; }


/* fluid images
------------------------- */
img.fluid{ max-width:100%; height:auto;}


/* clear floats
------------------------- */
.clearfix:before, .clearfix:after { content: ""; display: block; clear: both; }

/* float columns
------------------------- */
.column { float: left }

/* user menu horizontal
------------------------- */
ul#user_navigation { margin: 0; padding: 0; list-style: none; }
ul#user_navigation li { float: left; font-size: 1em; padding: 2px 7px; }

ul#user_navigation span { margin-right: 5px; }
ul#user_navigation a { padding: 3px; color: #FFF; text-decoration: none; border: 1px solid black; }
ul#user_navigation a:hover { background: #333; border: 1px solid #777777; }
li.dropdown ul { margin: 10px 0 0 0; padding: 0; list-style: none; display: none; position: absolute; left: 0; width: 100%; }
li.dropdown ul li { background: #000; width: 100%; clear: both; padding: 0; margin: 0; }
li.dropdown ul li a { color: green; display: block; padding: 5px; }
li.dropdown ul li:hover { background: #333333; }
li.dropdown ul li a:hover { background: #333333 !important; color: #FFF !important }
li.toolbar-icons { margin-top: 5px }
#user_navigation  span.ui-icon { background-image: url(../libraries/jquery-ui/images/ui-icons_ffffff_256x240.png); }


/* grid edit*/
div.grid-edit {margin:0 0 20px 0}
div.grid-form {margin: 10px}
div.grid-form p {margin-bottom: 6px; font-size:0.9em}
div.grid-cell input[type="text"] {width:90%}
div.grid-cell input[name="grid-image-y"] {width: inherit}
div.grid-cell textarea {width:90%}
div.grid-tools {border:1px solid black;padding:5px;position:absolute;top:0;right:-10px; background-color:black;color:white;text-align: center }
div.grid-tools i {margin-bottom:10px}
div.grid-tools .fa {font-size:1.4em}
div.grid-tools .fa:hover {color: rgb(205,205,205)}
div#grid-settings input[type="radio"] {margin-left:0}
div.grid-cell-settings img.template {margin:10px;}
ul#grid {list-style: none;margin:0;padding:0;width:80%}
ul#grid li {float:left;width:30%;margin-left:2%}
div.grid-split {flex: 1 1 auto}
div.grid-image-crop {min-height:100px;max-height:400px;background-size:cover;background-position-x: center}

/* grid video */ 
.grid-video { position: relative; height: 0; padding-bottom: 56.25%; }
.grid-video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* stories
------------------------- */
div#sidebar-promoted-stories {  }
div#content-stories {  }
div#content-child-stories { margin: 20px 0 0 0 }
div.stories-column { min-height:10px;float:left;overflow:auto; }
div.stories-column-space{ width:30px;min-height:10px;float:left; }
div.stories-wrapper { width:100%;padding:0 0 5px 0; }
div.stories-image-meta { margin-top:-4px;font-size:0.8em;text-align:right;}
div.stories-meta { margin:0 0 5px 0; font-size:0.9em}
.stories-title { padding-top:0px; }
h3.stories-title { }
h4.stories-title { font-weight:normal; }
h5.stories-title { }
h6.stories-title { }
div.stories-content { }
div.stories-content .float-left{ float:left;margin:4px 10px 4px 0;}
div.stories-content .float-right{ float:right;margin:4px 0 4px 10px; }
span.stories-meta { font-size:0.8em;}
a.stories:link, a.stories:visited { text-decoration:none;font-weight:normal;color:#000;}
a.stories:hover {text-decoration:none;}


div.stories-cell {position: relative;float:left; width:32%; min-height:200px; display: flex; flex-direction: column; margin-right:2%; margin-bottom:20px; border: 1px solid black; background-color:rgb(255,255,255); text-align: left;font-size:initial; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)}
div.stories-cell:nth-child(3n) {margin-right: 0;}
div.stories-cell h2, div.stories-cell div.stories-content {margin:10px;flex: 0 1 auto;}


/* stories events
------------------------- */
div#stories_events { max-height:2000px;overflow:auto;padding:10px; }
a.stories_events_link  { color: #003399 !important; padding: 0 4px 0 8px !important;font-weight:bolder !important; background:url(images/plus.png) no-repeat center left !important;} 
div.story-event { border-top:1px dashed #A8A8A8; }
div.story-event-history { opacity:0.2; }
h3.stories-event-date { font-family: Georgia; color:navy;padding:10px 0 5px 0;}
h4.stories-event-title { font-size:1.2em; }
div.stories-event-content { }
div.stories-event-meta { }



/* overide default css, custom settings found in wysiwyg editor
------------------------- */

.newsflash { background-color:#FFFf66 !important; color:#000; border: 1px solid #000;}
.white { background:#FFF;color:#000; padding: 5px; border: 1px solid #000; }
.ivory { background:#FFFFF0;color:#000; padding: 5px; border: 1px solid #000; }
.gold { background:#FFD700;color:#000; padding: 5px; border: 1px solid #000; }
.darkred { background:#8B0000;color:#FFF; padding: 5px; border: 1px solid #000; }
.navyblue { background:#000080 !important;color:#FFF; padding: 5px; border: 1px solid #000; }
.purple { background:#800080;color:#FFF; padding: 5px; border: 1px solid #000; }
.darkgreen { background:#006400;color:#FFF; padding: 5px; border: 1px solid #000; }
.darkred  h3, .darkred  h4, .navyblue h3, .navyblue h4, .purple h3, .purple h4, .darkgreen h3, .darkgreen h4 {color:#FFF;}
.navy h3, .navy h4 {color:#FFF;}

.title-red {color:red;padding:0 0 5px 0;}
.title-green {color:green;padding:0 0 5px 0;}

.faq-question { font-family: Georgia; font-size: 1.4em; color:#4F531E;padding: 8px 0 2px 0;}
.faq-answer { color:#4F531E;margin-left:10px; padding: 10px;text-indent:10px;font-style:italic; text-align:justify;border-right: 1px dotted #4F531E;border-bottom: 1px dotted #4F531E;}
.horizont-line {background:url(images/horizontical-line-shadow.png) no-repeat center left !important;padding:10px 0; }
.read-more { color: #003399 !important; padding: 0 4px 0 8px !important;font-weight:bolder !important; background:url(images/plus.png) no-repeat center left !important;}
.highlight-word {background:#ffff33;}
.search-word {font-weight: bold;}
.box-elevated { box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); margin:10px; padding:10px;border:1px solid grey;}
.box-shadowed { box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); margin:10px; padding:10px;border:1px solid grey;}
.text-bigger { font-size: 1.2em; }
.text-smaller { font-size: 0.9em; }
.quote-emphasize { font-family: Georgia, Garamond, Times, serif; letter-spacing:0.1em; text-align:center; margin: 10% 10%; line-height: 120%; font-size: 1.7em; }
.small-caps { font-variant: small-caps; }
.p-columns-2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; } 
.p-columns-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; } 
.dropcap:first-letter { float: left; font-size: 5em; font-weight: normal; font-family: Georgia, Garamond, Times, serif; line-height: .8em; margin-right: 5px; padding: 2px; }

.darktime {background-color: #333; padding:10px;}

div#site-navigation-cms span.cms-link {display: none;}
div#site-navigation-cms a {color: black; padding:10px;}


div.debug {font-family: monospace; margin:0; background:lightgray}
pre.debug {font-family: monospace; margin:0}

ul.ui-autocomplete {padding: 10px}
ul.ui-autocomplete li {color:navy}
ul li.ui-autocomplete-category {font-weight: bold; margin:25px 0 0 5px;}
.ui-menu-item-wrapper:hover {color:navy !important; }
.ui-menu-item-wrapper:active {color:black !important }
.ui-state-active,
.ui-widget-content .ui-state-active { border: 0px; background: #ffffff; font-weight: normal; color: navy; margin: 0; }