article, aside, footer, header, nav, section { display: block }
hml, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
div { box-sizing: border-box }
#wrapper-user:after, #wrapper-site-header:after, #wrapper-page:after, #wrapper-top:after, #wrapper-bottom:after, article, .clear:after {
    content: "";
    clear: both;
    display: table
}

#wrapper-user {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 999;
    color: white;
    background-color: black;
}

#wrapper-site-header {
    width: 100%;
    position: relative
}

#site-identity {
    width: 100%;
    height: 300px;
    overflow: hidden
}

#site-identity img {
    width: 100%;
    height: auto
}

#wrapper-page {
    width: 1366px;
    min-height: 100px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#site-navigation-header {
    position: absolute;
    top: 40px;
    right: 277px;
    background-color: darkred;
    border: 1px solid black;
}

#site-navigation-header ul {
    margin: 0 auto;
    padding: 0;
    list-style: none
}

#site-navigation-header ul li {
    float: left;
    margin: 0 0 0 10px;
}

#site-navigation-header ul li:hover {
    background-color: red
}

#site-navigation-header ul li a {
    display: block;
    line-height: 2em;
    padding: 0 20px;
    font-size: 1.2em;
    color: white;
    text-decoration: none
}

#wrapper-top {width: 1366px;margin: 0 auto}

#wrapper-bottom {width: 1366px;margin: 0 auto}

#wrapper-left-sidebar {}

#wrapper-right-sidebar {
    width: 33%;
    height: 100%;
    border-right: 0px solid black;
}

#wrapper-content {
    width: 67%;
    height: 100%;
    padding: 0 20px 0 0;
    border-left: 0px solid black;
    border-right: 1px solid black;
}

.column {
    float: left
}
#site-search { opacity: 0.7 }
#site-search input,
#site-search button {
    padding: 10px;
    font-size: 1em
}

#site-search:hover,
#site-search:active,
#site-search:focus {
    opacity: 1
}

#site-search button { background-color: yellowgreen }
#site-search { position: absolute; bottom: 40px; margin: 0 0 0 277px; z-index: 2; padding: 10px; border: 2px dashed lightgray; }
#site-name { margin: 0 0 0 277px; }
#wrapper-right-sidebar { padding: 0 0 0 20px }
h1 { font-size: 2em; }
p+p { text-indent: 2em; }


/* START back-end styles
changing these can be ... an adventure ....
------------------------- 
-------------------------
------------------------- */

/* overall div box-sizing 
------------------------- */
div { box-sizing:border-box; -moz-box-sizing:border-box; }


/* avoid flickers (body centered) when scrollbar appears in FF and Safari
------------------------- */
html { overflow-y:scroll; }


/* fluid images
------------------------- */
img.fluid{ max-width:100%; height:auto;}


/* clear floats
------------------------- */
.clearfix:before, .clearfix:after { content: ""; display: block; clear: both; }




/* user menu horizontal
------------------------- */

ul#user_navigation { margin: 0; padding: 0; list-style: none; }
ul#user_navigation li { float: left; display: inline; font-size: 1em; padding: 7px; }
ul#user_navigation li:hover { background: #000; }
ul#user_navigation span { margin-right: 5px; }
ul#user_navigation a { padding: 3px; color: #FFF; text-decoration: none; border: 1px solid black; }
ul#user_navigation a:hover { background: #333; border: 1px solid #777777; }
li.dropdown ul { margin: 10px 0 0 0; padding: 0; list-style: none; display: none; position: absolute; left: 0; width: 100%; }
li.dropdown ul li { background: #000; width: 100%; clear: both; padding: 0; margin: 0; }
li.dropdown ul li a { color: green; display: block; padding: 5px; }
li.dropdown ul li:hover { background: #333333; }
li.dropdown ul li a:hover { background: #333333 !important; color: #FFF !important }
li.toolbar-icons { margin-top: 5px }



/* grid front*/
div.dark {background-color: black};

div.grid-edit {margin:0 0 20px 0}

div.grid-cell {float:left;width:32%; display: flex; flex-direction: column; margin-right:2%; margin-bottom:20px; border: 1px solid black; background-color:rgb(230,230,230); text-align: left;font-size:initial;min-height:200px;position: relative; box-shadow: 0 0 8px rgba(0, 0, 0, 0.3)}
div.grid-cell:nth-child(3n) {margin-right: 0;}
div.grid-image-crop {min-height:80px;max-height:768px;background-size:cover;}
ul#grid {list-style: none;margin:0;padding:0;width:80%}
ul#grid li {float:left;width:30%;margin-left:2%}
div.grid-split {flex: 1 1 auto}
div.grid-cell h2,  div.grid-content, div.grid-cell div.story, div.grid-dynamic {margin:10px;flex: 0 1 auto;}
div.grid-link { padding:10px; margin:8px; flex: 0 1 auto; }


/* grid edit*/
div.grid-form {margin: 10px}
div.grid-form p {margin-bottom: 6px; font-size:0.9em}
div.grid-cell input[type="text"] {width:90%}
div.grid-cell input[name="grid-image-y"] {width: inherit}
div.grid-cell textarea {width:90%}
div.grid-tools {border:1px solid black;padding:5px;position:absolute;top:0;right:-10px; background-color:black;color:white;text-align: center }
div.grid-tools i {margin-bottom:10px}
div.grid-tools .fa {font-size:1.4em}
div.grid-tools .fa:hover {color: rgb(205,205,205)}
div#grid-settings input[type="radio"] {margin-left:0}
div.grid-cell-settings img.template {margin:10px;}

/* grid custom class*/
div.grid-cell.blue div.grid-link {border-bottom:3px solid blue} 
div.grid-cell.green div.grid-link {border-top:2px solid green} 
div.grid-cell.green  {background-color: white;} 
div.grid-cell.red {background-color: red} 
div.grid-link {text-align: center;}


/* stories
------------------------- */
div#sidebar-promoted-stories {  }
div#content-stories {  }
div#content-child-stories {  }
div.stories-column { min-height:10px;float:left;overflow:auto; }
div.stories-column-space{ width:30px;min-height:10px;float:left; }
div.stories-wrapper { width:100%;padding:0 0 5px 0; }
div.stories-image-meta { font-size:0.8em;text-align:right;margin-top:-4px;}
div.stories-meta { margin:0 0 5px 0}
.stories-title { padding-top:0px; }
h3.stories-title { }
h4.stories-title { font-weight:normal; }
h5.stories-title { }
h6.stories-title { }
div.stories-content { }
div.stories-content .float-left{ float:left;margin:4px 10px 4px 0;}
div.stories-content .float-right{ float:right;margin:4px 0 4px 10px; }
span.stories-meta { font-size:0.9em;}
a.stories:link, a.stories:visited { text-decoration:none;font-weight:normal;color:#000;}
a.stories:hover {text-decoration:none;}

/* stories events
------------------------- */
div#stories_events { max-height:2000px;overflow:auto;padding:10px; }
a.stories_events_link  { color: #003399 !important; padding: 0 4px 0 8px !important;font-weight:bolder !important; background:url(images/plus.png) no-repeat center left !important;} 
div.story-event { border-top:1px dashed #A8A8A8; }
div.story-event-history { opacity:0.2; }
h3.stories-event-date { font-family: Georgia; color:navy;padding:10px 0 5px 0;}
h4.stories-event-title { font-size:1.2em; }
div.stories-event-content { }
div.stories-event-meta { }
