# ignore version control
content/includes/
content/rss/
content/uploads/ads/**
content/uploads/files/**
content/uploads/images/**
content/uploads/media/**
content/uploads/misc/**
content/uploads/pages/**
content/uploads/plugins/
log/
sys/inc.db.php
_tmp/