# ignore version control
app/public/content/includes/**
app/public/content/plugins/**
app/public/content/rss/**
app/public/content/uploads/files/**
app/public/content/uploads/header/**
app/public/content/uploads/html/**
app/public/content/uploads/images/**
app/public/content/uploads/logotype/**
app/public/content/uploads/media/**
app/public/content/uploads/misc/**
app/public/content/uploads/pages/**
app/public/content/uploads/plugins/
app/public/sys/inc.db.php
app/public/log/**
app/public/sys/inc.db.php
configurations/mkcert/**
app/ssl/**
_docs/
_tmp/
.idea/