# ignore version control
content/includes/
content/plugins/
content/rss/
content/uploads/files/**
content/uploads/header/**
content/uploads/html/**
content/uploads/images/**
content/uploads/logotype/**
content/uploads/media/**
content/uploads/misc/**
content/uploads/pages/**
content/uploads/plugins/
log/
_docs/
_tmp/
.idea/
sys/inc.db.php
