hml,
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    max-width: 100%;
	letter-spacing: 0.01em;
	/*background-image: url(images/gf-blend-grey.png)*/
}

html,body,li,p {font-family: 'Open sans', sans-serif;}

#wrapper-site-header {
    max-width: 100%;
    margin: 40px auto 0 auto;
}

/*
paragraphs, indentation
------------------------- */
p, div { line-height: 1.5; margin: 0}
h1,h2,h3,h4,h5,h6 {line-height: 1.2}
div#content-html ul li { line-height: 1.5em; margin: 0}
p+p { text-indent: 1em }
div#content-html {margin-top: 20px}
h1#content-title {margin: 0.8em 0}

ul#navigation-root {}
ul#navigation-root li { border:0; font-size: 1.1em; }
ul#navigation-root li.node-open {}
ul#navigation-root li a {}
ul#navigation-root li:hover {background-color: #e5e5e5}



div#site-search-page {text-align: center; display: block;margin:0; background: linear-gradient( #F9CF3B, #FFDD66); border:1px solid grey;margin-bottom:20px}
div#site-search-page {text-align: center; display: block;margin:0; background: linear-gradient( #5a5856,#646260); border:1px solid grey;margin-bottom:20px}
div#site-search-page {text-align: center; display: block;margin:0; background: url(images/gl-blend-9.png); border:1px solid grey;margin-bottom:20px}
div#site-search-page {text-align: center; display: block;margin:0; background: url(images/gl-blend-15.png); border:1px solid grey;margin-bottom:20px}
div#site-search-page {text-align: center; display: block;margin:0; background: url(images/gf-blend.png); background-repeat: repeat; border:1px solid grey;}


.gf-red-1 { background-color:#691600; color:#fff;}
.gf-red-2 { background-color:#932205; color:#fff;}
.gf-red-12 { background: linear-gradient(#691600, #932205); color:#fff; }

.gf-red-1 h3, .gf-red-1 div, .gf-red-1 p, .gf-red-1 a,
.gf-red-2 h3, .gf-red-2 div, .gf-red-2 p, .gf-red-2 a,
.gf-red-12 h3, .gf-red-12 div, .gf-red-12 p, .gf-red-12 a  {color:#fff; text-decoration: none }

.gf-yellow-1 { background-color:#F9CF3B; color:#000; }
.gf-yellow-2 { background-color:#FFDD66; color:#000; }
.gf-yellow-12 { background: linear-gradient(#F9CF3B, #FFDD66); color:#000; }

.gf-yellow-1 h3, .gf-yellow-1 div, .gf-yellow-1 p, .gf-yellow-1 a,
.gf-yellow-2 h3, .gf-yellow-2 div, .gf-yellow-2 p, .gf-yellow-2 a,
.gf-yellow-12 h3, .gf-yellow-12 div, .gf-yellow-12 p, .gf-yellow-12 a {color:#000; text-decoration: none }

.gf-green-1 { background-color:#E8EEA2; color:#000; }
.gf-green-2 { background-color:#F9FDA9; color:#000; }
.gf-green-12 { background: linear-gradient(45deg,#e8eea2, #f9fda9); color:#000;}

.gf-green-1 h3, .gf-green-1 div, .gf-green-1 p, .gf-green-1 a,
.gf-green-2 h3, .gf-green-2 div, .gf-green-2 p, .gf-green-2 a,
.gf-green-12 h3, .gf-green-12 div, .gf-green-12 p, .gf-green-12 a  {color:#000; text-decoration: none }

.gf-design {background: url(images/gf-blend.png); border:1px solid grey;background-size: 100%}

.gf-grid-white-1 {background-color: white !important; color:black}

.gf-grid-green-1 {background-color: white !important; }
.gf-grid-green-1 h3, .gf-grid-green-1 a {color: black }
.grid-design.gf-grid-green-1 {background: url(images/gf-blend.png); background-repeat: repeat-y; border:1px solid grey;}

.gf-grid-yellow-1 {background-color: white !important }
.gf-grid-yellow-1 h3, .gf-grid-yellow-1 a {color: black }
.grid-design.gf-grid-yellow-1 {background: #FFDD66 !important;}

.gf-grid-red-1 {background-color: white !important }
.gf-grid-red-1 h3, .gf-grid-red-1 a {color: black }
.grid-design.gf-grid-red-1 {background: #8d131d !important;}

.gf-grid-grey-1 {background-color: white !important }
.gf-grid-grey-1 h3, .gf-grid-grey-1 a {color: black }
.grid-design.gf-grid-grey-1 {background: #5a5856 !important;}

.gf-warm-grey {background: #646260; color:#fff; padding:20px}
.gf-warm-grey h3, .gf-warm-grey div, .gf-warm-grey p, .gf-warm-grey a {color:#fff; text-decoration: none }



span#storiesaround {display:none}

div#site-search-page {border-top-color: black;}
div#site-search-page {border-bottom-color: black;}
#site-search-page label {color:whitesmoke}
div#site-search-page input[type='checkbox'] {display: none}
span#search-page-limit-tree-helper {display:none}
#site-search-page label {}

.smartsign {
    width: 1920px;
    height: 1080px;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


div.grid-cell, div.stories-cell {border:1px solid grey;box-shadow: 0 0 8px rgba(0, 0, 0, 0.3) }



/* Media queries based on viewport meta tag width=device-width,initial-scale=1.0
______________________________________________________________________________ */

/* Mobiles menu 320-768px */

@media (min-width: 320px) and (max-width: 768px) {
	

	div.stories-cell {/*border, shadow*/}




    
	h1 { padding-top: 12px; font-size: 2em;	}
	h2 { padding-top: 8px; font-size: 1.5em; }
	h3 { padding-top: 6px; font-size: 1.17em; }
	h4 { padding-top: 2px; font-size: 1em }
	h5 { padding-top: 1px; font-size: 0.83em }
	h6 { padding-top: 1px; font-size: 0.7em }
    
    

	header#wrapper-site-header { width:100% }
	div#site-navigation-identity {text-align: center}
	div#site-name {display:none}
	div#site-navigation-identity img {width:50%; margin:20px 10px 0 10px}
	div#site-slogan-heading {}
	div#site-navigation-cms { right:0; display: none}
	div#site-header {width:100%; }
	div#site-header-alt-caption {}
	nav#site-navigation-header { position: inherit; top:inherit;right: inherit}
	div#site-navigation-root {display: none}
	ul#navigation-root {}
	ul#navigation-root li { border:0; font-size: 2em}
	ul#navigation-root li.node-open {}
	ul#navigation-root li a { border-bottom:1px solid black; border-right:1px solid black; padding:10px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1)}
	ul#navigation-root li:hover {background-color: #e5e5e5}

	div#wrapper-top {width:100%}
	div#site-search-page { }
	div#site-search-page label {}
	div#site-search-page input[type="text"] {width:50%;}
	div#site-search-page input[type="checkbox"] {display: none}
	span#search-page-limit-tree-helper {display: none}
	div#pages_search_result {padding:10px}

	div#wrapper-page {width:100%}
	header h1 {margin:0}
	div#wrapper-content {width:100% !important; padding:0; border: 0}
	div#content-breadcrumb {}
	div#content-title {}
	div#content-html {}
	div#content-author {}


	div#wrapper-left-sidebar, div#wrapper-right-sidebar {width:100% !important; padding:0; border: 0}

	nav#nav-site-navigation-vertical {display: none}
	ul.nav-tree {}
	ul.nav-tree li {}

	

	div#wrapper-bottom {width:100%}
	footer#wrapper-site-footer {width:100%}

	div#site-about {}
	div#site-contact {}
	div#site-rss {}

	
	div#content-top-selections {}

	div#top-grid {}
	div#content-top-grid {}
	div#content-bottom-grid {}

	


}


@media (min-width: 769px)  {
	
	#site-navigation-header {top:36px}
	ul#navigation-root li {border:0; }
	ul#navigation-root li.node-open a { border-bottom:4px solid #99a03e;  text-decoration: none; }
	ul#navigation-root li:hover {background-color:rgba(204,211,76,0.5) }
}